body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  text-align: center;
  background-color: grey;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

div {
  padding: 20px;
}

.container{
  text-align: center;
}

.card {
  display: inline-block;
  vertical-align: top;
  font-family: system-ui;
  background: #5bb4c4;
  color: white;
  text-align: center;
  width: 180px;
  height: 240px;
  margin: 10px;
  padding: 10px;
  position: relative;
}

.title {
  font-weight: bold;
  font-size: 1.2em; 
}

.description {
  color: blueviolet;
  font-style: italic;
}

.priority {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.priority.low {
  color: #217a00;
}

.priority.medium {
  color: #b36b00;
}

.priority.high {
  color: #b30000;
}

button {
  border: none;
  border-radius: 3px;
  font-style: italic;
  font-size: 0.8em;
  margin: 4px 6px;
  width: 50px;
  height: 25px;
}

.doneButton {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: green;
}

.deleteButton {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: red;
}

input[type=text], input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

form {
  text-align: left;
  width: 50%;
  margin: auto;
}

.form-input {
  padding: 8px;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}
